.total-price-card {
  position: fixed !important;
  top: 70px;
  right: 20px;
  width: 190px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
